.main-button {
  display: inline-block;
  color: #fff;
  background-color: #3a4042;
  height: 60px;
  padding-left: 20px;
  padding-right: 20px;
  line-height: 60px;
  box-shadow: 5px 5px 0px #000;
  margin-right: 0;
  transition: 0.2s cubic-bezier(0, 0.49, 0.94, 2.38);
  font-size: 20px;
}

.main-button:hover {
  transform: scale(1.09);
  transition: 0.2s cubic-bezier(0, 0.49, 0.94, 2.38);
  background-color: rgb(255, 255, 255);
  color: black;
}
