.place-jobs {
  display: inline-block;
  width: 220px;
  height: 140px;
  text-align: center;
  line-height: 140px;
  border: 5px solid #000000;
  color: rgb(26, 26, 218);
  background-color: #ceb02a;
  font-family: "Press Start 2P", sans-serif;
}

.place-jobs.-yellow {
  width: 140px;
  height: 140px;
  background-color: yellow;
}

.place-jobs.-red {
  width: 170px;
  height: 140px;
  background-color: red;
}
