.skill-tech {
  display: flex;
  font-family: "Press Start 2P", sans-serif;
  font-size: 25px;
  color: white;
  align-items: center;
}

.skill-tech .icon {
  margin-right: 25px;
  width: 90px;
}

.skill-tech.right {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}

.skill-tech .title {
  margin-bottom: 10px;
  margin-left: 1px;
}
