.wrapper-timeLine {
  display: flex;
  width: 1440px;
  height: 215px;
  margin: 0 auto;

  justify-content: center;
  position: relative;
  gap: 50px;
}

.border::after {
  content: "";
  position: absolute;
  display: block;
  width: 1430px;
  height: 0px;
  border: 4px solid black;
  top: 12%;
  left: 1%;
}

.ellipsis {
  font-size: 21px;
  position: absolute;
  bottom: 73%;
}

.ellipsisVertical {
  position: absolute;
  font-size: 27px;
  right: 100%;
  top: 8%;
  transform: translateX(10px);
}

.ellipsisVertical.-right {
  left: 100%;
  transform: translateX(17px);
}
